test_flows.json
[{"id":"4c9da925c98f938a","type":"inject","z":"3eec625e77d11fa7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":780,"wires":[["3d6c1a8e2cac7bec"]]},{"id":"5eb4fb68e4d1a33c","type":"debug","z":"3eec625e77d11fa7","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":740,"wires":[]},{"id":"3d6c1a8e2cac7bec","type":"trigger","z":"3eec625e77d11fa7","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":550,"y":780,"wires":[["5eb4fb68e4d1a33c","bb04997b5ba049b0"],["c877fa9bfe0a0af6","bb04997b5ba049b0"]]},{"id":"c877fa9bfe0a0af6","type":"debug","z":"3eec625e77d11fa7","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":820,"wires":[]},{"id":"bb04997b5ba049b0","type":"function","z":"3eec625e77d11fa7","name":"Reset Timer","func":"if (msg.payload == \"1\") {\n    context.set(\"timer\", true);\n    node.status({ fill: \"blue\", shape: \"dot\", text: \"Timer On\" });\n} \nelse if (msg.payload == '0') {\n    context.set(\"timer\", false);\n    node.status({ fill: \"grey\", shape: \"dot\", text: \"Timer Off\" });\n}\n// Relay message ONLY when the timer is ON\n// This will prevent the input message from triggering any\n// Output from the triggner node.\nif(context.get(\"timer\")) {\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once whenever the node is started.\ncontext.set(\"timer\", false);\nnode.status({ fill: \"grey\", shape: \"dot\", text: \"Timer Off\" });","finalize":"","libs":[],"x":530,"y":940,"wires":[["70888d9f38eba483","3d6c1a8e2cac7bec"]]},{"id":"70888d9f38eba483","type":"debug","z":"3eec625e77d11fa7","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":940,"wires":[]},{"id":"a668912f01e17f90","type":"inject","z":"3eec625e77d11fa7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":940,"wires":[["bb04997b5ba049b0"]]}]